
/* PARCHROME LOADER */
body { visibility: hidden; }
#page-loader { position: fixed; inset: 0; background: #0f0f10; display: flex; flex-direction: column; align-items: center;
    justify-content: center; z-index: 999999; gap: 16px; visibility: visible; opacity: 1; transition: opacity 0.4s ease;}
#page-loader.hidden { opacity: 0; pointer-events: none; }
.parchrome-fade { opacity: 0; animation: parchrome-fadein 0.5s ease 0.1s forwards; }
.parchrome-ring { width: 44px; height: 44px; border-radius: 50%;
  border: 3px solid #2a2a2a; border-top: 3px solid #9f0000; animation: parchrome-spin 0.9s cubic-bezier(0.4,0,0.2,1) infinite;}
.parchrome-label { font-size: 11px; letter-spacing: 3px; text-transform: uppercase; color: #555; font-family: sans-serif;
  opacity: 0; animation: parchrome-fadein 0.5s ease 0.1s forwards; }
  @keyframes parchrome-spin { to { transform: rotate(360deg); } }
  @keyframes parchrome-fadein { to { opacity: 1; } }
 html.loaded body { visibility: visible; }





  @media (max-width: 970px) {.discord-card { background: linear-gradient( 90deg,  rgba(240, 34, 34, 0.2), rgba(25, 26, 27, 0.5));}}



  



:root {
  --bg-main: #202225;
  --bg-tertiary: #0f0f10;
  --bg-sidebar: #0f0f10;
  --bg-hover: #202122;
  --bg-box: #161616;
  --bg-box-active: #303135;
  --accent: #5865f2;
  --text-main: #eff2f5;
  --text-secondary: #c8cbcd;
  --text-muted: #949ba4;
}

/* Reset */
* {margin: 0; padding: 0; box-sizing: border-box; font-family: 'oxanium', sans-serif;}
body {height: 100vh; background: var(--bg-main); color: var(--text-main); display: flex; flex-direction: column; overflow: hidden; }



/* Top nav */
.top-bar {
  height: 52px;
  background: var(--bg-tertiary);
  display: flex;
  align-items: center;
  padding: 0 14px;
  border-bottom: 1px solid #0d0d0d;
  position: fixed;        
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;              
  padding: 5px;}
.top-bar-left-avatar {width:30px; height:30px; border-radius:50%; background:var(--accent); margin-right:10px; display:none;}
.top-bar-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;}


.top-bar-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;}


.top-bar-title {position:absolute; left:50%; transform:translateX(-50%); font-size:17px; font-weight:600; display:flex; align-items:center; gap:8px; ;}
.top-bar-title a {text-decoration: none; color: white;}
.topbar-logo {width:24px; height:24px; border-radius:4px; overflow:hidden; background-color: var(--bg-box);}
.topbar-logo img {width:100%; height:100%; object-fit:cover;}
.top-bar-avatar {margin-left:auto; width:30px; height:30px; border-radius:50%; background:var(--accent); margin-right: 5px;}


/* Hamburger */
.hamburger {
  width: 26px;
  height: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  margin-left: 8px;}
.hamburger span {
  height: 2px;
  width: 100%;
  background: var(--text-main);
  border-radius: 2px;
  transition: all 0.25s ease;}
.hamburger.active span:nth-child(1) { transform: translateY(8.5px) rotate(45deg); }
.hamburger.active span:nth-child(2) { opacity: 0; }
.hamburger.active span:nth-child(3) { transform: translateY(-8.5px) rotate(-45deg); }


.secondary-top-bar {
  position: fixed;
  top: 52px;
  left: 400px;
  right: 0;
  width: calc(100% - 400px);
  height: 48px;
  background: linear-gradient(90deg, #1b1c18, #252621);
  display: flex;
  align-items: center;
  justify-content: space-between; /* left content vs right button */
  padding: 0 10px;
  z-index: 15;
  box-shadow: 0 2px 6px rgba(0,0,0,0.4);
  color: #b3b3b3;
  font-weight: 500;
  font-size: 14px;

}
  
.secondary-top-bar .secondary-left {display: flex; align-items: center;gap: 8px;}


.th-icon {
  width: 32px; 
  height: 32px;
  object-fit: contain;
  margin-right: 0px;border-radius: 50%;}



.help-button {
  width: 28px;
  height: 28px;
  background: #1f1f1f;
  color: var(--text-main);
  font-weight: bold;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 10px;
  user-select: none;
  position: relative;
  right: 0px;
margin-right: 1px;}


.help-button2 {
  width: 28px;
  height: 28px;
  background: #1f1f1f;
  color: var(--text-main);
  font-weight: bold;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 5px;
  user-select: none;
  position: relative;
  right: 0px;
}

.help-button2:hover,.help-button:hover{
    background: #434343;
    border: 1px solid rgb(92, 91, 91)
}


.help-popup::before {
  content: "";
  position: absolute;
  top: -5px; 
  right: 13%; 
  width: 12px;
  height: 12px;
  border-left: 1px solid #2f3136;
  border-top: 1px solid #2f3136;
  transform: rotate(45deg);
  z-index: -1;
    backdrop-filter: blur(10px);
  background: rgba(30,31,34,0.85);
}

.help-popup {
  position: absolute;
  top: 35px;
  right: 0px;
  width: 250px;
  background: #131212;
  border: 1px solid #2f3136;
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 11px;
  color: #dcddde;
  display: none;
  z-index: 100;
  box-shadow: 0 8px 24px rgba(0,0,0,0.6);
  margin-top: 0px;
  backdrop-filter: blur(10px);
  background: rgba(30,31,34,0.55);
  margin-right: 0px;
}
  
.help-popup ul {padding-left: 16px;margin: 0;top: 36px;  /* below the button */}
.help-popup li {margin-bottom: 4px;}
.help-container {position: relative; display: flex;}          



 .fastlinkstrong{
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 1%;
  align-items: center;
  gap: 14px;
  font-size: clamp(15px, 2vw, 26px);
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: linear-gradient(90deg, #c0c9d4, #ffffff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 1px;
  position: relative;

    }
.help-button.active { background: #2a2a2a; filter: brightness(1.4); box-shadow: 0 0 10px rgba(255,255,255,0.08);}
.fast-links { padding: 0; margin: 5px 0 0;
  display: grid; grid-template-columns: repeat(2, 1fr); /* 2 per row */ gap: 6px 16px; /* row gap / column gap */}
.fast-links li { margin: 0;}
.fast-links a {
  display: block; padding: 6px 8px; color: #dcddde; text-decoration: none;
  font-size: 11px; border-radius: 6px; transition: all 0.15s ease;}
.fast-links a:hover { background: rgba(255,255,255,0.05); color: #fff;}
.fast-links a.active { background: #2f3136; color: #fff; font-weight: 600;}

@media (min-width: 971px ){ 
.fast-links{grid-template-columns: repeat(3, 1fr);}
.help-popup {width: 560px; padding-bottom: 50px;}
.fast-links a {font-size: 14px; }
.fast-links li {  margin-left: 20px;}
.help-popup::before {  right: 7.1%; }
.fastlinkstrong{margin-top: 3%;}


}




.main {
  flex: 1 1 auto;
  display: flex;
  overflow: hidden;
  margin-top: 52px; /* push below top-bar */}



/* Divider after GAMES list */
.sidebar .games-container::after {
  content: "";
  display: block;
  height: 1px;
  width: calc(100% - 32px);
  margin: 12px auto;
  background: linear-gradient(
    90deg,
    rgba(255,255,255,0),
    rgba(255,255,255,0.12),
    rgba(255,255,255,0)
  );
}



.sidebar {
  width: 400px;
  background: var(--bg-sidebar);
  padding: 1px;
  overflow-y: auto;
  transition: transform 0.3s ease;
  scrollbar-width: thin;
  scrollbar-color: #565656 #161618;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 52px); /* full height minus topbar */
  border: none;}
.sidebar > * { flex-shrink: 0; } /* Global scrollbar (Chrome, Edge, Safari) */
.sidebar::-webkit-scrollbar {width: 6x;}
.sidebar::-webkit-scrollbar-track {background: #121318; /* dark background */}
.sidebar::-webkit-scrollbar-thumb { background: #2f3136; border-radius: 10px; border: 2px solid #121318; }
.sidebar::-webkit-scrollbar-thumb:hover{ background: #3a3d43;}
.sidebar a.active,
.sidebar .game.active,
.sidebar .triple-a-game.active { background: #2b2d31; color: var(--text-main); font-weight: 600;position: relative;}
.sidebar a.active::before,
.sidebar .game.active::before {
    content: "";
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    height: 60%;
    background: linear-gradient(180deg, rgb(107, 5, 5) 0% , rgb(201, 16, 16) 100% );
    border-radius: 4px;}
.sidebar a {text-decoration: none; color: inherit; display: flex; align-items: center; gap: 8px;}
*{scrollbar-width: thin; /* Firefox */  scrollbar-color: #2f3136 #121318;}
.sidebar-icon,.tripleimg {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
    box-shadow: 0 0 0 2px #1e1f22;}
.game:hover .sidebar-icon,
.triple-a-game:hover .sidebar-icon ,.tripleimg:hover{
    box-shadow: 0 0 0 2px var(--accent);}



/* Top box */
.top-box {display:flex; flex-direction:column; gap:12px; padding:16px 12px; background-color:#161617; margin-bottom:14px;
   transition:background 0.25s ease; color:var(--text-secondary);}
.top-box-item {display:flex; align-items:center; gap:10px; padding:8px 10px; border-radius:6px; cursor:pointer;
   font-size:20px; color:var(--text-secondary); margin-left: 5px;}
.top-box-item:hover {background:var(--bg-hover); color:var(--text-main);}
.icon {width:18px; height:18px; stroke:var(--text-muted); stroke-width:2; fill:none; flex-shrink:0;}
.topbox-icon {width: 35px; height: 35px; object-fit: cover; border-radius: 8px; margin-right: 0px;}



/* Games list */
.games-container .game {
    padding: 10px 10px;
    font-size: 20px;
    border-radius: 6px;
    cursor: pointer;
    color: var(--text-muted);
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    gap: 8px;
    width: calc(100% - 32px);
    box-sizing: border-box;
    margin-left: 18px;}
.games-container .game:last-child {margin-bottom:0; }
.games-container .game:hover { background: var(--bg-hover); color: var(--text-main);  }


/* Triple A Games */
.triple-a-container {margin-top:20px; padding:0; color:var(--text-secondary);}

.triple-a-header {
    transition: background 0.2s;
    padding: 10px 10px;
    font-size: 20px;
    border-radius: 6px;
    cursor: pointer;
    color: var(--text-muted);
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    gap: 8px;
    width: calc(100% - 32px);
    box-sizing: border-box;
    margin-left: 18px;}
.triple-a-header:hover {background:var(--bg-hover); color:var(--text-main);}
.triple-a-header .arrow {display: inline-block;transition: transform 0.25s ease;}
.triple-a-header.open .arrow {transform: rotate(90deg);}
.triple-a-header.closed .arrow {transform: rotate(0deg);}
.triple-a-list {display: flex;   /* open by default */flex-direction: column; flex-direction:column; margin-top:1px; gap:4px; padding:0;}
.triple-a-list .triple-a-game {
    padding: 10px 10px;
    border-radius: 6px;
    cursor: pointer;
    color: var(--text-muted);
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    width: calc(92% - 20px);
    box-sizing: border-box;
    margin: 0 10px 8px 25px;}
.triple-a-list .triple-a-game:hover {background:var(--bg-hover); color:var(--text-main);}


/* Main body content */
.coc-main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow-y: auto;
 
}

.whats-up { display: flex; align-items: flex-start; gap: 16px; background: linear-gradient(
 90deg, rgba(17, 17, 17, 1), rgba(32, 32, 32, 0.5));

            padding: 18px 20px; border-radius: 12px; margin-bottom: 12px; }
.whats-up-icon { width: 70px; height: 70px; object-fit: cover; border-radius: 12px; box-shadow: 0 4px 10px rgba(0,0,0,0.5);}
.whats-new-text { color: #a1a1a1; font-size: 20px; line-height: 1.6; font-weight: 300;}
.mobile-text { display: none; }


/* First layer buttons */
.first-layer {display:flex; gap:10px; margin-bottom:10px; width:100%; margin-top: 20px;}
.first-layer button {flex:1; padding:10px; border:none; border-radius:6px;  background: rgba(11, 11, 12, 0.8);
  color:var(--text-muted); cursor:pointer; transition:background 0.2s; font-size:15px; font-weight:500;}
.first-layer button.active, .first-layer button:hover {background:var(--bg-hover); color: var(--text-secondary);}
.first-layer button.active{ background: linear-gradient( to bottom, #3f434c 0%, #2c3038 45%, #1a1d24 100%);
                              color: var(--text-main); font-weight: 600;
                              box-shadow: 0 4px 12px rgba(0,0,0,0.4); }


/* Second layer horizontal scroll */
.second-layer-container {
  position: relative;
  overflow-x: auto;
  margin-bottom: 0px;
  width: 100%;
  flex-shrink: 0;
  scrollbar-width: thin;
  scrollbar-color: #565656 #161618;}
.second-layer {display: flex; gap: 8px; padding: 4px 0; } 

.second-layer button img {
  width: 25px;        /* 🔥 bigger */
  height: 25px;
  object-fit: contain;
  flex-shrink: 0;
}
.second-layer button {
  display: inline-flex;          /* key fix */
  align-items: center;           /* vertical alignment */
  gap: 3px;                      /* space between icon & text */
  margin-bottom: 0px;
  position: relative;
  flex: 0 0 auto;
  padding: 2px 16px;
  border: none;
  border-radius: 8px;
  margin-right: px;
  background: rgba(11, 11, 12, 0.8);
  color: var(--text-muted);
  white-space: nowrap;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
  font-size: 13px;
  font-weight: 500;
  padding-top: 5px;
  padding-bottom: 5px;
}
.second-layer button.active, .second-layer button:hover {background:var(--bg-hover); color:var(--text-secondary);}
.second-layer::-webkit-scrollbar {display:none;}
.second-layer {-ms-overflow-style:none; scrollbar-width:none;}
.second-layer button.active { background: linear-gradient( to bottom, #3f434c 0%, #2c3038 45%, #1a1d24 100%);
                              color: var(--text-main); font-weight: 600;
                              box-shadow: 0 4px 12px rgba(0,0,0,0.4); }

                              
 
                               
.discord-card{
 
 box-shadow: 0 4px 12px rgba(0,0,0,10);
} 



/* Bases grid */

.fullscreen-image {position: relative; width: 100%; text-align: center; margin: 0 auto; margin-bottom: 10px;  overflow: hidden; 
 }

.fullscreen-image img {width: 100%; height: auto; border-radius: 10px; box-shadow: 0 5px 12px rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;}


.fullscreen-image:hover img {
  transform: scale(1.04); /* very subtle */
}

.army-divider {
  display: flex;
  align-items: center;
  margin-top: 8px ;
  margin-bottom:10px;
}

.army-divider-line {
  flex: 1;
  height: 1px;
  background: linear-gradient(to right, rgba(255,255,255,0), rgba(209, 209, 209, 0.5), rgba(255,255,255,0));
}

.download-btn {
    margin-top: 14px;
    padding: 10px 26px;

    border-radius: 8px;
    color: #1a1a1a;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.3px;
    text-decoration: none;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow:0 6px 14px rgba(0, 0, 0, 0.35),inset 0 1px 0 rgba(255, 255, 255, 0.35);
    transition: transform 0.15s ease, box-shadow 0.15s ease, filter 0.15s ease;
     background: linear-gradient( 180deg,  rgba(27, 31, 42, 1) 0%,  rgba(35, 37, 44, 1) 100%);
  border: 2px solid rgba(255,255,255,0.6);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.5);
    color: #fff;
    
  }
.download-btn:hover {
      border: 1px solid #5865f2;
       background: linear-gradient( 180deg,  rgb(42, 48, 63) 0%,  rgba(35, 37, 44, 1) 100%);

    --accent: #5865f2;
    filter: brightness(1.08);

    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.45), inset 0 1px 0 rgba(255, 255, 255, 0.45);}
.download-btn:active {
   
    box-shadow:0 4px 10px rgba(0, 0, 0, 0.35),inset 0 2px 6px rgba(0, 0, 0, 0.25);
   }


 /* Time Stamp Thingy */
.image-badge {
    position: absolute;
    top: 8px;
    right: 8px;
    background: #082a5a;   
    color: #fff;
    font-size: 11px;
    font-weight: 600;
    padding: 4px 8px;
    border-radius: 4px;
    z-index: 5;
    letter-spacing: 1px;}
.image-logo {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 28px;
    height: 28px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 6;
    box-shadow: 0 2px 6px rgba(0,0,0,0.5);
    cursor: pointer;}
.image-logo img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    filter: brightness(1.1);
    border-radius: 50px;
    margin-top: 25px;
    margin-left: 25px;}


/* Fixes Zoom Thingy */
.image-modal { position: fixed; inset: 0; background: rgba(0, 0, 0, 0.85); display: none;
    align-items: center;justify-content: center;z-index: 9999;}
.image-modal img { max-width: 92%; max-height: 92%;
    border-radius: 12px; box-shadow: 0 0 30px rgba(0,0,0,0.8); animation: zoomIn 0.2s ease;}
body.no-zoom {
    overflow: hidden; touch-action: none;}
.image-zoom {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;}
.image-zoom img { max-width: 95%; max-height: 95%; border-radius: 12px;}


/* Popup box */
.cc-popup {
  position: absolute;
  top: 34px;
  left: 28px;
  width: 200px;
  background: #1e1f22;
  border: 1px solid #2f3136;
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 13px;
  color: #dcddde;
  display: none;
  z-index: 10;
  box-shadow: 0 8px 24px rgba(0,0,0,0.6);}
.cc-popup strong { display: block; margin-bottom: 6px; color: #f2f3f5;}
.cc-popup ul { padding-left: 16px; margin: 0;}
.cc-popup li { margin-bottom: 4px;}


/* Global scrollbar (Chrome, Edge, Safari) */
::-webkit-scrollbar { width: 10px;}
::-webkit-scrollbar-track { background: #121318; /* dark background */}
::-webkit-scrollbar-thumb { background: #2f3136;   border-radius: 10px; border: 2px solid #121318; }
::-webkit-scrollbar-thumb:hover { background: #3a3d43;}
* { scrollbar-width: thin; scrollbar-color: #2f3136 #121318;/* Firefox */}


.whats-up-strong{font-weight: 900 ; font-size: 16px;}

.coc-content {
  flex: 1 0 auto;
 background: linear-gradient(180deg, #1a1a1a 0%, #1a1818 100%);

}



@keyframes zoomIn {
  from { transform: scale(0.95); opacity: 0;}
  to { transform: scale(1);  opacity: 1;}}



.site-footer {
    flex-shrink: 0;
    width: 100%;
    background: linear-gradient(180deg, #1c1c1d, #0b0b0c);
    border-top: 1px solid #2f3136;
    padding: 18px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;}
.footer-icons { display: flex; gap: 12px; justify-content: center; align-items: center;}
.footer-icons a {
    width: 38px;
    height: 38px;
    background: #161616;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease, background 0.2s ease;}
.footer-icons a:hover { transform: translateY(-2px);background: #202225;}
.footer-icons svg { width: 20px; height: 20px; fill: white;}
.footer-text {font-size: 12px;color: var(--text-muted);letter-spacing: 0.4px;}



.pagination { display: flex; justify-content: center; gap: 8px; margin: 10px 0; flex-wrap: wrap; margin-top: 0px; margin-bottom: 40px; margin-top: 20px;}
.pagination a {
    padding: 8px 14px;
    border-radius: 6px;
    background: var(--bg-box);
    color: var(--text-secondary);
    font-weight: 500;
    text-decoration: none;
    transition: background 0.2s, color 0.2s;}
.pagination a:hover { background: var(--bg-hover); color: var(--text-main);}
.pagination a.active {background: var(--bg-box-active);  color: var(--text-main);  font-weight: 600;}
.pagination a.next {font-weight: 500;}






.quick-links { display: flex; flex-wrap: wrap; justify-content: center; gap: 12px; margin: 20px 0 10px 0;}
.quick-links a {
    padding: 10px 18px;
    background: linear-gradient( to bottom, #3f434c 0%, #2c3038 45%, #1a1d24 100%);
    color: var(--text-secondary);
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 2px 6px #0b0b0c;
    transition: background 0.2s, color 0.2s;}
.quick-links a:hover {background-color: #283449; color: var(--text-main); cursor: pointer;}



.whats-new {
    display: flex;
    align-items: flex-start;
    gap: 14px;
    background: linear-gradient(90deg, #1b1c18, #252621);
    padding: 16px 18px;
    border-radius: 10px;
    margin-bottom: 10px; /* space before footer */}
.whats-new-icon { width: 60px; height: 60px; object-fit: cover; border-radius: 8px; object-fit: contain; }
.whats-new-text { color: var(--text-secondary); font-size: 12px; line-height: 1.5;}


.zoomable {cursor: pointer; transition: transform 0.15s ease;}
.image-badge, .image-logo { pointer-events: auto;}
.fullscreen-image img { pointer-events: auto;}
.image-zoom img { max-width: 95%; max-height: 95%; width: auto; cursor: grab;}
.image-zoom { touch-action: none;}

html, body { touch-action: pan-x pan-y; overscroll-behavior: contain;}
* { -webkit-tap-highlight-color: transparent;}


.clan-box {
  display: flex;
  align-items: flex-start;
  gap: 16px;
background: linear-gradient(
    180deg, 
    rgba(27, 31, 42, 0.7) 0%, 
    rgba(18, 19, 24, 0.7) 100%
);
  border-radius: 10px;
  padding: 16px;
  max-width: 90%;
  margin: 0px auto;
  box-sizing: border-box;
  box-shadow: 0 4px 12px rgba(0,0,0,0.4);
  margin-bottom: 30px;
}

.clan-box-img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
  flex-shrink: 0;
}

.clan-box-content {
  flex: 1;
}

.clan-box-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

.clan-box-text {
  font-size: 14px;
  line-height: 1.5;
  color: #e0e0e0;
}

.clan-tag-click {
  cursor: pointer;      /* shows pointer on hover */
  text-decoration: underline; /* adds underline */
   color: #7d85a8;           /* optional: make it white or whatever fits your theme */
}
.clan-tag-click:hover {
  color: #556dd8;       /* optional: change color on hover */
}


.result-icon {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  vertical-align: middle;
  object-fit: contain;
  
}
.view-more {
  padding: 8px 12px;
  color: #ccc;
  cursor: pointer;
  font-weight: 500;
  text-align: center;
  transition: color 0.2s;
}
.view-more:hover {
  color: #fff;
  cursor: pointer;
}



/* Mobile responsive */
@media (max-width: 970px){
  .hamburger { display: flex; }
  .sidebar {
      position: fixed;
      top: 52px;      /* start below top bar */
      left: 0;
      bottom: 0;      /* full height */
      width: 300px;
      transform: translateX(-100%);
      z-index: 15;
      display: flex;
      flex-direction: column;}
  .sidebar.active { transform: translateX(0); }
  .main {margin-top: 52px;} /* ensures top bar is not overlapped */
  .grid-container { grid-template-columns: 1fr; }
  .secondary-top-bar {left: 0px;}
  .quick-links a{font-size: 14px; }
  .image-logo img {
      width: 40px;
      height: 40px;
      object-fit: contain;
      filter: brightness(1.1);
      border-radius: 50px;
      margin-top: 2px;
      margin-left: 2px;}
  .site-footer{padding-bottom: 100px; padding-top: 50px;}
  .footer-text{font-size: 9px;}
  .download-btn {
      margin-top: 14px;
      padding: 10px 20px;
      font-size: -2px;

    }
      .download-btn {
    margin-top: 14px;
    padding: 10px 20px;
    border-radius: 8px;
      }
  .games-container{font-size: 16px;}
  .top-box{ font-size: 16px;}
  .top-box-item{font-size: 18px;}
  .triple-a-header { font-size: 18px;}
  .triple-a-list { font-size: 14px;}
  .games-container .game { font-size: 16px;}
  .fullscreen-image{width: 100%; margin-bottom: 30px;}
  .second-layer-container {margin-bottom: 0px;}
  .secondary-top-bar {
      left: 0;
      width: 100%;                /* full width on mobile */
      padding: 0 10px;
      justify-content: space-between;  /* keeps left and right separated */
      font-size: 12px;}
  .secondary-left {gap: 6px;}
  .th-icon { width: 25px; height: 25px; margin-left: 3px; margin-right: 3px;}
  .secondary-content { font-size: 13px;}
  .help-button { width: 28px; height: 28px;}
  .pagination {font-size: 12px;}
  .discord-card {  background: linear-gradient(
    90deg,
    rgba(43, 61, 158, 0.18),
    rgba(47, 49, 54, 0)
  );}


  .desktop-text { display: none; }
  .mobile-text { display: inline; }

  .whats-new-text{font-size:  10.2px;}  
  .grid-container {display: grid; grid-template-columns: repeat(1, 1fr); gap: 20px; }
  .fullscreen-image {position: relative; width: 100%; text-align: center; margin: 0 auto; margin-bottom: 10px; }
  .clan-box-img { width: 80px; height: 80px; border-radius: 10px;}
  .clan-box{margin-left: 25px; margin-right: 25px;}
  .clan-box-text{font-size: 12.5px;}
  .top-box-item{font-size: 18px;}
}




@media (min-width:969px) {
  .hamburger {display:none;} 
   .whats-new-text{font-size: 16px;}
  .whats-up-strong{font-size: 20px;}

  .second-layer button{padding-left: 20px; padding-right: 20px; padding-top: 5px; padding-bottom: 5px; }
  .search-input{top: 0px;}
  .search-overlay {top: 0px;}
  .second-layer button img{width: 28px; height: 28px;}
  .second-layer button {padding-left: 25px; padding-right: 25px;}
}


@media (max-width: 970px){ .grid-container { grid-template-columns: 1fr; } }




.search-close-btn { position: absolute; top: 20px; right: 20px; background: none; border: none;
  font-size: 1.8rem; color: #fff; cursor: pointer; z-index: 10000; transition: transform 0.2s;}
.search-close-btn:hover {transform: rotate(90deg);}
#search-overlay { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.6); backdrop-filter: blur(4px);
  display: none; z-index: 9999; overflow-y: auto; padding: 40px 20px; box-sizing: border-box; margin-top: 0px;}
#search-input {  width: 100%;  max-width: 600px;  padding: 12px 16px; font-size: 1.2rem;  border-radius: 12px; 
  border: none; outline: none; margin: 0 auto 30px auto; display: block; background: linear-gradient(145deg, #292929, #6a6a6a);
  color: #fff; box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); transition: all 0.3s ease; }
#search-input::placeholder { color: #ccc; }
#search-input:hover { background: linear-gradient(145deg, #292929, #6a6a6a); box-shadow: 0 6px 20px rgba(0, 0, 0, 0.35);}
#search-input:focus { background: linear-gradient(145deg, #292929, #6a6a6a);
   box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.2), 0 6px 20px rgba(0,0,0,0.4);}
#search-results { display: flex; flex-direction: column; gap: 12px; max-width: 600px; margin: 0 auto;}
.search-result-item { background: rgba(255, 255, 255, 5.1); color: #ffffff; padding: 12px 16px;
  border-radius: 6px; text-decoration: none; transition: background 0.2s;}
.search-result-item:hover { background: rgba(255, 255, 255, 0.25);}
#search-overlay { position: fixed;  top: 0;  left: 0; width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.75); backdrop-filter: blur(4px); display: none;  z-index: 9999;
  overflow-y: auto; padding: 50px 20px; box-sizing: border-box; margin-top: 50px;}
#search-close-btn { position: absolute; top: 7px; right: 18px; font-size: 1.5rem; color: white;
  background: none; border: none; cursor: pointer; z-index: 10000; /* above overlay */}
#search-close-btn:hover { transform: rotate(90deg); transition: transform 0.2s;}
#search-results { display: flex; flex-direction: column; gap: 12px;
  max-width: 600px; margin: 0 auto;}
.search-result-item { background: rgba(255, 255, 255, 0.1); color: #ffffff; padding: 12px 16px;
  border-radius: 6px; text-decoration: none; transition: background 0.2s;}
.search-result-item:hover { background: rgba(255, 255, 255, 0.25);}






.coc-main{
    background: linear-gradient(180deg, #070809 0%, #0b0505 100% );

  font-family: 'Segoe UI', sans-serif;}











/* Hero Section */
.hero-section {
  position: relative;
  min-width: 100%;       
  min-height: 250px;
  max-height: 400px;
  overflow: hidden;
  flex: 0 0 auto;      /* prevent flex stretch in coc-main */
  box-shadow: 0 14px 12px rgba(0,0,0,0.5);
  text-align: center;
  background-color: #2b2b35;
    z-index: 10;

}

/* the image */ 
.hero-video {
  margin: auto;
  width: 100%;
  display: flex;
  z-index: 1;
}

/* Overlay with gradient */
.hero-overlay {
  position: absolute;
  inset: 0;                        /* shorthand for top:0; bottom:0; left:0; right:0 */
  display: flex;
  align-items: center;             /* vertical centering */
  padding-left: 5%;                /* left spacing for text */
  background: 
  linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.8)), /* top to bottom */
  linear-gradient(to top, rgba(0,0,0,0.2), rgba(0,0,0,0.5)),    /* bottom to top (new) */
  linear-gradient(90deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,2) 100%); /* left to right */
  background-blend-mode: overlay;
  z-index: 2;
}

/* Content */
.hero-content {
  max-width: 600px;
  text-align: left;
  color: #fff;
  animation: fadeInUp 1s ease forwards;  /* subtle fade-in */
  margin-left: 20px;
  margin-top: 120px;
  
}

/* Headline */
.hero-title {
  font-size: clamp(36px, 5vw, 64px);
  font-weight: 900;
  margin-bottom: 16px;
  line-height: 1.0;
  text-transform: uppercase;
  background: linear-gradient(90deg, #f8f8f8, #d6cece, #b7b6b6);
  background-clip: text;             /* standard property */
  -webkit-background-clip: text;     /* optional for older WebKit */
  color: transparent;
  text-shadow: 2px 4px 8px rgba(0,0,0,0.4);
}

/* Tagline */
.hero-tagline {
  font-size: clamp(16px, 1.2vw, 20px);
  opacity: 0.9;
  margin-bottom: 32px;
  color: #c8c8c8;
  line-height: 1.5;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
}

/* Button */
.hero-button {
  display: inline-flex;           /* aligns SVG and text horizontally */
  align-items: center;            /* vertically center them */
  gap: 10px;      
  padding: 14px 30px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #fff;
  background: linear-gradient( 180deg,  rgb(125, 8, 8) 0%,  rgb(47, 1, 1) 100%);
  border: 2px solid rgba(241, 40, 40, 0.6);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.5);
  cursor: pointer;
  transition: all 0.3s ease;
  white-space: nowrap;}
.hero-button:hover {
  background: linear-gradient(90deg, #d50606, #8a1e1e, #000000); /* reverse gradient */
  transform: scale(1.08);
  border-color: #580000;
  box-shadow: 0 6px 16px rgba(0,0,0,0.6);
}

/* Fade-in animation for hero text */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}





@media (max-width: 970px){

  .hero-overlay {
    flex-direction: column;   /* stack content vertically */
    justify-content: center;  /* vertical centering */
    align-items: center;      /* horizontal centering */
    padding-left: 0;          /* remove desktop left padding */
    padding-right: 0;
    text-align: center;       /* center text inside hero-content */
    padding-left: 5%;
    padding-right: 5%;
      background: 
    /* Top to bottom fade */
    linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.2)),
    /* Left to right fade (90°) */
    linear-gradient(180deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%);
    /* Optional diagonal for corner shadows */
  background-blend-mode: overlay;
  }

  /* Hero content max width for small screens */
  .hero-content {
    max-width: 100%;           /* allow some horizontal padding */
    margin-left: 0;           /* remove desktop left margin */
    text-align: center;       /* force center text */
    margin-bottom: 150px;
  }
 .hero-video {  height: 100%; align-content: center; justify-content: center; width: 100%; 
  object-fit: cover;
  object-position: center 100%; margin-top: 44px;
}
  /* Hero button */
  .hero-button {
    margin: 0 auto;           /* center button */
    display: inline-flex;     /* keep SVG + text inline */
    justify-content: center;
    align-items: center;      /* vertically center icon + text */

  }

  /* Headline font adjustment for small screens */
  .hero-title {
    font-size: clamp(22px, 8vw, 20px);
    line-height: 1.2;
  background: linear-gradient(360deg, #8a7f7f, #ffffff, #faf4f4);
  text-shadow: #0d0d0d;
  background-clip: text;             /* standard property */
  -webkit-background-clip: text;     /* optional for older WebKit */
  color: transparent;
  text-shadow: 2px 4px 8px rgba(0,0,0,0.4);
  margin-bottom: 0px;
    margin-top: 70px;

    filter: drop-shadow(5 px 4px 8px rgba(0,0,0,1.5));
}
    
  

  /* Tagline font adjustment for small screens */
  .hero-tagline {
    font-size: clamp(14px, 3vw, 10px);
    margin-bottom: 5px;
  }

    .hero-section {
  position: relative;
  width: 100%;
  height: 100vh;                  /* full viewport */
  min-height: 300px;
  max-height: 300px;
  overflow: hidden;
  
}
.hero-button{padding: 8px 12px; font-size: 12px;}

.hideonphone {display: none;}
}
@media (min-width: 968px){.hideonpc {display: none;}}








 
.layouts-title-box:first-of-type {margin-top: 50px;}

.layouts-title-box {
  margin: 5px 20% 20px 20%;
  border-radius: 0;
  padding: 12px 20px;
  text-align: center;
  background: transparent;
  border-bottom: 1px solid #2a2a2a;
  position: relative;
}
.layouts-title-box::after {
  content: '';
  position: absolute;
  bottom: -2px; left: 50%;
  transform: translateX(-50%);
  width: 100px; height: 2px;
  background: #9f0000;
}
.layouts-title {
  font-size: clamp(15px, 2vw, 26px);
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: linear-gradient(90deg, #c0c9d4, #ffffff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}


@media (max-width: 970px) {
     .layouts-title-box {margin-left: 8%; margin-right: 8%;
    }
  .layouts-title-box::after{width: 70px;}
  
  }


  
 .latest-section-title {
  display: flex;
  align-items: center;
 font-size: clamp(1vh, 2vw, 22px);
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: linear-gradient(90deg, #c0c9d4, #ffffff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 1px;
  margin-left: 15%;
  margin-top: 50px;

   
}

.box-container{ width: 100%; display: flex; min-height: 1000px;  position: relative;
  z-index: 1;}

.box-one{ width: 75%; 
  position: relative; padding-bottom: 70px;
}

.box-one::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;

  background: linear-gradient(
    90deg,
    transparent,
    rgba(255,255,255,0.3),
    transparent
  );
}


.web-list{
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 15px;
  margin-bottom: 50px;
}

/* ITEM CARD */
.web-item , .web-item2 ,.web-item3 ,.web-item4{
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 15px;
  text-decoration: none; /* remove underline */
  color: inherit;        /* keep text color */
  background: #131212;
  border: 1px solid rgba(255,255,255,0.08);
  border-radius: 10px;
  transition: 0.2s ease;
  margin-bottom: 15px;

   transition: transform 0.15s ease, box-shadow 0.15s ease, background 0.2s ease;
  will-change: transform;

    position: relative;
  overflow: hidden;
}

/* hover */
.web-item:hover , .web-item2:hover , .web-item3:hover , .web-item4:hover{
  background: rgb(48, 47, 47);
  transform: translateY(-2px);
  cursor: pointer;
}

/* 🔥 click / press feedback */
.web-item:active , .web-item2:active , .web-item3:active ,  .web-item4:active{
  transform: translateY(1px) scale(0.98);
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}

/* ripple flash */
.web-item:active::after,  .web-item2:active::after, .web-item3:active::after, .web-item4:active::after{
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255,255,255,0.05);
  animation: flash 0.2s ease;
}

@keyframes flash{
  from { opacity: 1; }
  to { opacity: 0; }
}




/* ICON */
.web-icon{
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

/* TEXT WRAPPER */
.web-info{
  display: flex;
  flex-direction: column;
}

/* TITLE */
.web-title{
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

/* SUBTITLE */
.web-sub{
  color: #b8c0d4;
  font-size: 12px;
}

.web-open{
  margin-left: auto;

  font-size: 14px;
  color: rgba(255,255,255,0.4);

  transition: 0.2s ease;
}

/* hover effect */
.web-item:hover .web-open ,.web-item2:hover ,.web-item3:hover, .web-item4:hover{
  color: #fff;
  transform: translateX(4px) translateY(-2px);
}



.view-more-btn ,.view-more-btn2 ,.view-more-btn3 ,.view-more-btn4 {
  margin-top: 15px;
  width: 100%;
  display: block;
  padding: 12px 0;
  background: transparent;
  border: 1px solid #767474;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease;
  text-align: center;
  border-radius: 6px;
  background: none;
 /*  background: #1a1919;*/

}

.view-more-btn:hover , .view-more-btn2:hover , .view-more-btn3:hover , .view-more-btn4:hover{
  background: rgba(255,255,255,0.05);
  border-color: #ffffff;
}

.view-more-btn ,.view-more-btn2 ,.view-more-btn3  ,.view-more-btn4{
  transition: all 0.25s ease;
  position: relative;
  overflow: hidden;
}

/* hover lift */
.view-more-btn:hover ,.view-more-btn2:hover ,.view-more-btn3:hover ,.view-more-btn4:hover{
  transform: translateY(-3px);
  border-color: #ffffff;
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

/* subtle shine sweep */
.view-more-btn::after, .view-more-btn2::after , .view-more-btn3::after , .view-more-btn4::after{
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;

  background: linear-gradient(
    120deg,
    transparent,
    rgba(255,255,255,0.15),
    transparent
  );

  transition: 0.5s;
}

.view-more-btn:hover::after , .view-more-btn2:hover::after , .view-more-btn3:hover::after , .view-more-btn4:hover::after{
  left: 100%;
}




@media (max-width: 970px) {
   

  .latest-section-title {margin-top: 40px;}
   .latest-section-title:first-of-type{margin-top: 40px;}
  .web-list{
  margin-left: 8%;
  margin-right: 8%;}
  .web-title{
  margin-bottom: 2px;
}
  .latest-section-title{
  margin-left: 8%;
  font-size: 14px;
  } }

  .title-svg{width: 28px; height: 28px; margin-right: 5px;
  }
  @media (max-width: 970px) {.title-svg{width: 15px; height: 15px; margin-right: 5px;}
  }




.latest-header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
 font-size: clamp(1vh, 2vw, 15px);
  font-weight: 900;
   text-transform: uppercase;
  letter-spacing: 1px;
  background: linear-gradient(90deg, #c0c9d4, #ffffff);
  -webkit-background-clip: text;
    background-clip: text;
     color: transparent;
  letter-spacing: 1px;
  margin-right: 20%;
  margin-left: 20%;
}
.view-all {
  font-size: clamp(12px, 1.5vw, 10px);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: 2px;
  color: rgba(193, 193, 193, 0.6);
  transition: 0.25s ease;
  text-decoration: underline;
  margin-top: 5px;
}

.view-all:hover {
  color: #ffffff;
  transform: translateX(3px);
}
@media (max-width: 970px){
.view-all {
  font-size: clamp(12px, 1.5vw, 12px);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
font-size: 10px;
  color: rgba(179, 179, 179, 0.6);
  transition: 0.25s ease;
}

.view-all:hover {
  color: #ffffff;
  transform: translateX(3px);
}
  .latest-header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  font-size: 10px;
  margin-left: 8%;
  margin-right: 10%;
  margin-top: 20px;
}

}





.latest-title-svg {height: 30px; width: 30px; margin-right: 5px; margin-left: 2px;}
 @media (max-width: 970px){.latest-title-svg{height: 20px; width: 20px;}}







.latest-header-row2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
font-size: clamp(12px, 1.2vw, 14px);
  font-weight: 900;
   text-transform: uppercase;
  background: linear-gradient(90deg, #c0c9d4, #d3d2d2);
  -webkit-background-clip: text;
    background-clip: text;
     color: transparent;
  letter-spacing: 1px;
  margin-right: 15%;
  margin-left: 7%;
  padding-bottom: 5px;
}
.view-all2 {
  font-size: clamp(12%, 1.5vw, 10px);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: 15%;
  color: rgba(255, 255, 255, 0.735);
  transition: 0.25s ease;
  text-decoration: underline;
    padding-bottom: 30px;
  margin-left: 65%;
}

.view-all2:hover {
  color: #ffffff;
  transform: translateX(3px);
}
@media (max-width: 1400px){
.view-all2 {
  font-size: clamp(12px, 1.5vw, 12px);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
font-size: 10px;
  color: rgba(179, 179, 179, 0.6);
  transition: 0.25s ease;
}

.view-all2:hover {
  color: #ffffff;
  transform: translateX(3px);
}
  .latest-header-row2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  font-size: 10px;
  margin-left: 8%;
  margin-right: 10%;
}

}


.discover-link {
  text-decoration: none; /* remove underline */
  display: inline-block;
    white-space: nowrap; /* 🔥 keeps "Discover more" together */

}



/* Arrow */
.discover-title .icon {
  width: 18px;
  height: 18px;
  transition: 0.25s ease;
}

/* Hover effect */
.discover-link:hover .icon {
  transform: translateX(5px);
  margin-left: 20px;
}
.discover-link :hover {
  transform: translateX(3px); /* subtle move */
  filter: brightness(1.2);   /* slight glow */


}

.box-two{
  width: 25%;
  position: sticky;
  top: 20px; /* distance from top when scrolling */
  height: fit-content;
   background: var(--bg-sidebar);
     border: 1px solid rgba(255,255,255,0.08);

   

}
.discover-list{
  height: 90vh;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-left: 13%;
  margin-right: 13%;
}


.discover-title{
 display: flex;
  align-items: center;
 font-size: clamp(15px, 2vw, 20px);
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: linear-gradient(90deg, #c0c9d4, #ffffff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.7px;
  margin-left: 9.5%;
  margin-top: 40px;

}

/* IMAGE */
.discover-list img{
  width: 100%;
  aspect-ratio: 20 / 8;
  object-fit: cover;
  max-height: 120px;
  border-radius: 10px;
  transition: 0.25s ease;
}

/* hover */
.discover-list a:hover img{
  transform: scale(1.03);
  filter: brightness(1.1);
}

.discover-svg {height: 65px; width: 65px;}

.divider-fade {

  width: 100%;
  height: 1px;
    margin: 5px 1px;
  background: rgba(255,255,255,0.12);
  max-width: 500px;
}

      @media (max-width: 1400px) {
  .box-container {
    display: flex;
    flex-direction: column; /* 🔥 stack vertically */
  }

  .box-one {
    width: 100%;
  position: relative;
  z-index: 2;
 padding-bottom: 0px;
  box-shadow:
    0 30px 60px rgba(0, 0, 0, 0.7),
    0 10px 25px rgba(0, 0, 0, 0.6);
  }

  .box-two {
    width: 100%;
    position: relative; /* important: remove sticky behavior */
    top: auto;
    min-width: 100%;
    height: 100%;
     border: none;
     background-color: #101010;

  }
  .discover-title{
  margin-left: 5%;     margin-top: 30px; margin-bottom: 10px;
}
.discover-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-right: 13%;
}   
.discover-list a {
  width: 50%;
  display: flex;
  justify-content: center;
      flex: 0 0 calc(50% - 12px);

}

 
.discover-list img {
  max-width: 500px;
  max-height: 150px;
  width: 100%;
  object-fit: cover;
      border-radius: 5px;

}
.discover-title .icon {
  width: 1px;
  height: 1px;
  transition: 0.25s ease;
}
.discover-svg {height: 35px; width: 35px;}
.divider-fade {
  width: 100%;
  height: 1px;
  margin: 10px 0;
  background: rgba(255,255,255,0.12);
}
.discover-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
   margin-left: 10%;
    margin-right: 10%;
      flex-direction: row;   /* IMPORTANT override */
    height: auto;          /* IMPORTANT override */
    overflow: visible;     /* IMPORTANT override */
}
.discover-list a {
  width: calc(50% - 15px);
}

  .divider-fade {
    display: none;
  }
.divider-fade-mobile {

  width: 100%;
  height: 1px;
margin-top: 0px; 
margin-bottom: 20px;
background: linear-gradient(
    90deg,
    transparent,
    rgba(255,255,255,0.12),
    transparent
  );}

  .divider-fade-mobile2 {
    margin-top: 20px;
  width: 100%;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255,255,255,0.12),
    transparent
  );
      margin-bottom: 50px;

}

}
@media (min-width: 1401px) {
  .discover-list a:last-of-type {
    display: none;
  }
}



.skeleton-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 10px;
  margin-bottom: 12px;
  width: calc(100% - 32px);
  margin-left: 18px;
  border-radius: 6px;
  background: #1a1a1a;
  animation: shimmer 1.2s infinite linear;
  background: linear-gradient(
    90deg,
    #1a1a1a 25%,
    #252525 50%,
    #1a1a1a 75%
  );
  background-size: 200% 100%;
}

.skeleton-icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #2a2a2a;
  flex-shrink: 0;
}

.skeleton-text {
  height: 14px;
  border-radius: 4px;
  background: #2a2a2a;
  flex: 1;
}

@keyframes shimmer {
  0%   { background-position: 200% 0; }
  100% { background-position: -200% 0; }
}

@media (max-width: 970px) {
body {
  overflow: auto; /*removes top bar */
  height: auto;   
}}

